@font-face {
  font-family: 'Itim Regular';
  src: url('./ItimRegular.ttf');
}

@font-face {
  font-family: 'Mooli-Regular';
  src: url(./Mooli-Regular.ttf);
}

@font-face {
  font-family: 'NotoSansSC-VariableFont_wght';
  src: url(./NotoSansSC-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}

@keyframes FadeIn {
  from {
    position: relative;
    top: -100px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

@keyframes SlideUp {
  from {
    transform: translateY(1000px);
  }

  to {
    transform: translateY(0);
  }
}

:root {
  --primary-color: #ef86c1;
  --secondary-color: #ed86c1;
  --accent-color: #d667a5;
  --background-color: #ffffff;
  --text-font-color: #212121;
  --bottom-border-color: #bdbdbd;
  --text-font-sub-color: #414141;
}

.buttons {
  margin-top: 15px;
  padding: 10px 28px;
  /* outline: none; */
  border: none;
  background-color: var(--primary-color);
  color: #f1f1f1;
  font-family: 'Mooli-Regular', 'NotoSansSC-VariableFont_wght';
  font-size: 18px;
  /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); */
  border-radius: 5px;
  cursor: pointer;
  transition: ease-out 200ms;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  animation: FadeIn 500ms;
}

.buttons:hover {
  transition: ease-out 200ms;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.buttons:active {
  transition: ease-out 200ms;
  transform: scale(0.975);
  filter: brightness(0.775);
}

h1 {
  font-size: 32px;
  line-height: 65px;
}

h2 {
  font-size: 24px;
  line-height: 49px;
}

body {
  background-color: var(--background-color);
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  margin-left: 2em;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 18px;
    line-height: 30px;
  }
}