@font-face {
  font-family: 'Itim Regular';
  src: url('./ItimRegular.ttf');
}

@font-face {
  font-family: 'Mooli-Regular';
  src: url(./Mooli-Regular.ttf);
}

@font-face {
  font-family: 'NotoSansSC-VariableFont_wght';
  src: url(./NotoSansSC-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}

@keyframes FadeIn {
  from {
    position: relative;
    top: -100px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

:root {
  --primary-color: #ef86c1;
  --secondary-color: #ed86c1;
  --accent-color: #d498ca;
  --background-color: #ffffff;
  --text-font-color: #212121;
  --bottom-border-color: #bdbdbd;
}
