.codehilite {
  width: 95%;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  padding: 18px;
  background-color: #ffffff;
  /* border-radius: 20px; */
  overflow-x: scroll;
  border: solid 1px #414141;
  margin-top: 20px;
  margin-bottom: 20px;
}
pre {
  line-height: 125%;
}
td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.hll {
  background-color: #ffffcc;
}
.c {
  color: #177500;
} /* Comment */
.err {
  color: #000000;
} /* Error */
.k {
  color: #a90d91;
} /* Keyword */
.l {
  color: #1c01ce;
} /* Literal */
.n {
  color: #000000;
} /* Name */
.o {
  color: #000000;
} /* Operator */
.ch {
  color: #177500;
} /* Comment.Hashbang */
.cm {
  color: #177500;
} /* Comment.Multiline */
.cp {
  color: #633820;
} /* Comment.Preproc */
.cpf {
  color: #177500;
} /* Comment.PreprocFile */
.c1 {
  color: #177500;
} /* Comment.Single */
.cs {
  color: #177500;
} /* Comment.Special */
.kc {
  color: #a90d91;
} /* Keyword.Constant */
.kd {
  color: #a90d91;
} /* Keyword.Declaration */
.kn {
  color: #a90d91;
} /* Keyword.Namespace */
.kp {
  color: #a90d91;
} /* Keyword.Pseudo */
.kr {
  color: #a90d91;
} /* Keyword.Reserved */
.kt {
  color: #a90d91;
} /* Keyword.Type */
.ld {
  color: #1c01ce;
} /* Literal.Date */
.m {
  color: #1c01ce;
} /* Literal.Number */
.s {
  color: #c41a16;
} /* Literal.String */
.na {
  color: #836c28;
} /* Name.Attribute */
.nb {
  color: #a90d91;
} /* Name.Builtin */
.nc {
  color: #3f6e75;
} /* Name.Class */
.no {
  color: #000000;
} /* Name.Constant */
.nd {
  color: #000000;
} /* Name.Decorator */
.ni {
  color: #000000;
} /* Name.Entity */
.ne {
  color: #000000;
} /* Name.Exception */
.nf {
  color: #000000;
} /* Name.Function */
.nl {
  color: #000000;
} /* Name.Label */
.nn {
  color: #000000;
} /* Name.Namespace */
.nx {
  color: #000000;
} /* Name.Other */
.py {
  color: #000000;
} /* Name.Property */
.nt {
  color: #000000;
} /* Name.Tag */
.nv {
  color: #000000;
} /* Name.Variable */
.ow {
  color: #000000;
} /* Operator.Word */
.mb {
  color: #1c01ce;
} /* Literal.Number.Bin */
.mf {
  color: #1c01ce;
} /* Literal.Number.Float */
.mh {
  color: #1c01ce;
} /* Literal.Number.Hex */
.mi {
  color: #1c01ce;
} /* Literal.Number.Integer */
.mo {
  color: #1c01ce;
} /* Literal.Number.Oct */
.sa {
  color: #c41a16;
} /* Literal.String.Affix */
.sb {
  color: #c41a16;
} /* Literal.String.Backtick */
.sc {
  color: #2300ce;
} /* Literal.String.Char */
.dl {
  color: #c41a16;
} /* Literal.String.Delimiter */
.sd {
  color: #c41a16;
} /* Literal.String.Doc */
.s2 {
  color: #c41a16;
} /* Literal.String.Double */
.se {
  color: #c41a16;
} /* Literal.String.Escape */
.sh {
  color: #c41a16;
} /* Literal.String.Heredoc */
.si {
  color: #c41a16;
} /* Literal.String.Interpol */
.sx {
  color: #c41a16;
} /* Literal.String.Other */
.sr {
  color: #c41a16;
} /* Literal.String.Regex */
.s1 {
  color: #c41a16;
} /* Literal.String.Single */
.ss {
  color: #c41a16;
} /* Literal.String.Symbol */
.bp {
  color: #5b269a;
} /* Name.Builtin.Pseudo */
.fm {
  color: #000000;
} /* Name.Function.Magic */
.vc {
  color: #000000;
} /* Name.Variable.Class */
.vg {
  color: #000000;
} /* Name.Variable.Global */
.vi {
  color: #000000;
} /* Name.Variable.Instance */
.vm {
  color: #000000;
} /* Name.Variable.Magic */
.il {
  color: #1c01ce;
} /* Literal.Number.Integer.Long */

@media only screen and (max-width: 768px) {
  .codehilite {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    padding: 14px;
    background-color: #ffffff;
    /* border-radius: 20px; */
    overflow-x: scroll;
    border: solid 1px #414141;
  }
}
